%article-element-common {
  font-size: rem(14);
  font-weight: bold;
  margin-right: rem(2);
}

.main {
  background: #F0EEE5;
  padding: rem(30) 0;
}

.podcasts {
  width: 90%;
  margin: 0 auto;

  @include media($large) {
    width: 850px;
  }

  @include element(item) {
    margin-bottom: rem(20);
  }
}

.article {
  padding: rem(20) rem(10);
  background: #fff;
  color: #1B3367;
  border-radius: rem(4);
  position: relative;
  box-shadow: 0 2px 0 rgba(34, 34, 34, 0.05);

  @include media($small) {
    padding: rem(20);
  }

  @include media($huge) {
    padding: rem(22);
  }

  @include element(title) {
    font-weight: 300;
    font-size: rem(18);
    margin-bottom: rem(5);

    @include media($huge) {
      font-size: rem(20);
    }
  }

  @include element(number) {
    position: absolute;
    top: 50%;
    right: rem(10);
    transform: translateY(-50%);
    color: #bdc3c7;
    font-size: rem(15);

    @include media($small) {
      right: rem(20);
    }

    @include media($huge) {
      right: rem(22);
    }
  }

  @include element(time) {
    @extend %article-element-common;
    color: #141412;
  }

  @include element(link) {
    @extend %article-element-common;
    color: #2c286d;

    &:before {
      content: "\00B7";
      margin-right: rem(5);
      color: #141412;
    }

    &:focus,
    &:hover,
    &:active {
      color: #2980b9;
    }
  }
}
