%article-element-common {
  margin-right: rem(2);
  font-size: rem(14);
  font-weight: bold;
}

.main {
  padding: rem(30) 0;
  background: $beige;
}

.podcasts {
  width: 90%;
  margin: 0 auto;

  @include media($large) {
    width: 850px;
  }

  @include element(item) {
    margin-bottom: rem(20);
  }
}

.article {
  position: relative;
  padding: rem(20) rem(10);
  border-radius: rem(4);
  background: $white;
  color: $lightpurple;
  box-shadow: 0 2px 0 rgba(34, 34, 34, 0.05);

  @include media($small) {
    padding: rem(20);
  }

  @include media($huge) {
    padding: rem(22);
  }

  @include element(title) {
    margin-bottom: rem(5);
    font-size: rem(18);
    font-weight: 300;

    @include media($huge) {
      font-size: rem(20);
    }
  }

  @include element(number) {
    position: absolute;
    top: 50%;
    right: rem(10);
    transform: translateY(-50%);
    color: $lightgray;
    font-size: rem(15);

    @include media($small) {
      right: rem(20);
    }

    @include media($huge) {
      right: rem(22);
    }
  }

  @include element(time) {
    @extend %article-element-common;
    color: $black;
  }

  @include element(link) {
    @extend %article-element-common;
    color: $purple;

    &:before {
      margin-right: rem(5);
      color: $black;
      content: '\00B7';
    }

    &:focus,
    &:hover,
    &:active {
      color: $blue;
    }
  }
}
