.footer {
  background: $lightpurple;
  color: $white;

  @include element(message) {
    font-size: rem(15);
    line-height: rem(60);
    text-align: center;

    @include media($huge) {
      margin-right: rem(35);
      font-size: rem(13);
      text-align: right;
    }
  }

  @include element(icon) {
    display: inline;
    color: $red;
    font-size: rem(14);
    font-style: normal;

    @include media($huge) {
      font-size: rem(12);
    }

    &:before { content: '\2665'; }
  }

  @include element(link) {
    color: $beige;

    &:focus,
    &:hover,
    &:active {
      color: $lightgray;
    }
  }
}
