.header {
  text-align: center;

  @include element(image) {
    width: 70%;
    padding: rem(15) 0;

    @include media($small) {
      width: 50%;
    }

    @include media($medium) {
      width: 40%;
    }

    @include media($large) {
      width: 35%;
    }

    @include media($huge) {
      width: 30%;
    }
  }

  @include element(title) {
    padding: rem(15) 0;
    background: $lightpurple;
    color: $white;
    font-size: rem(25);
  }
}
