<footer class="footer">
  <p class="footer__message">
    Made with <%= icon('heart', class: 'footer__icon') %> by <a href="http://calazans10.com" target="_blank" class="footer__link">@calazans10</a>
  </p>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
